[submodule "extern/slang"]
	path = extern/slang
	url = https://github.com/Kuree/slang/
[submodule "extern/logic"]
	path = extern/logic
	url = https://github.com/Kuree/logic
[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest
[submodule "extern/fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt
[submodule "extern/marl"]
	path = extern/marl
	url = https://github.com/google/marl/
[submodule "extern/vlstd"]
	path = extern/vlstd
	url = https://github.com/Kuree/vlstd
[submodule "extern/reproc"]
	path = extern/reproc
	url = https://github.com/DaanDeMeyer/reproc
